server:
  port: 8090

spring:
  application:
    name: gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          jwk-set-uri: http://localhost:9000/oauth2/jwks
  cloud:
    gateway:
      server:
        webflux:
          routes:

            # Authorization Server
            #- id: auth
              #uri: http://localhost:9001
              #predicates:
               # - Path=/auth/**

            # Microservicio Usuario (puerto 8083)
            - id: usuario
              uri: lb://usuario
              predicates:
                - Path=/api/usuarios/**
              filters:
                - StripPrefix=2

            # Microservicio Huesped (puerto 8082)
            - id: huesped
              uri: lb://huesped
              predicates:
                - Path=/api/huespedes/**
              filters:
                - StripPrefix=2

            # Microservicio Habitaciones (puerto 8085)
            - id: habitacion
              uri: lb://habitacion
              predicates:
                - Path=/api/habitaciones/**
              filters:
                - StripPrefix=2

            # Microservicio Reservas (puerto 8085)
            - id: reservas
              uri: lb://reservas
              predicates:
                - Path=/api/reservas/**
              filters:
                - StripPrefix=2

    loadbalancer:
      enabled: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
